anthropic==0.20.0
fschat==0.2.23
nltk==3.8.1
numpy==1.26.4
openai==1.13.3
pandas==2.2.1
requests==2.31.0
scipy==1.13.0
tensorflow==2.15.0.post1
tokenizers==0.15.2
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.2
transformers==4.39.2
vllm==0.4.0.post1
wandb==0.16.4
xformers==0.0.23.post1